version: "3.9"
services:
  mysql:
    image: mysql:8
    container_name: risk_mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=risk_db
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    restart: always
  api:
    build: .
    container_name: risk_api
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - mysql
    restart: always
volumes:
  mysql_data:

